@font-face{
	font-family: '';
	src: local('ProximaNova-Regular'),
		url('/static/fonts/ProximaNova-Regular.otf') format("opentype");
}

.insta-text-icon{
	width: 90%;
	display:flex;
	justify-content: right;
}

.dropdown-menu{
	width: 250px !important;
}

.dropdown-item{
	height: 40px !important;
}

.body-container{
	margin-top: 100px;

}

.navbar{
	margin-bottom: 100px !important;
}

.nav-sidebar{
	margin-left: 40%;
	width: 25%;
}

#dropdown-icons{
	width:20px;
	margin-right: 10px;
}

#index-icons{
	display:flex;
	justify-content:center;
	width: 30px;
	margin-top: 11px;

}

#profile-icon{
	width:30px;
	margin-top: 2px;
}

#sidebar-profile-icon{
	width:50px;
}

nav{
	background-color: #FFFFFF;
	display: flex;
	margin-bottom: 100px !important;

}

body{

	background-color: #FAFAFA;
	font-family: 'ProximaNova-Regular';
}

