/*.navbar{
	height: 54px;
}*/

.insta-text-icon{
	width: 90%;
	display:flex;
	justify-content: right;
}

#index-icons{
	display:flex;
	justify-content:center;
	width: 30px;
	margin-top: 11px;

}

#profile-icon{
	width:30px;
	margin-top: 2px;
}

.dropdown-menu{
	width: 250px !important;
}

.dropdown-item{
	height: 40px !important;
}

#dropdown-icons{
	width:20px;
	margin-right: 10px;
}
nav{
	background-color: #FFFFFF;
	display: flex;
}

body{

	background-color: #FAFAFA;
}